.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 15px;
}

.popup {
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  width: 420px;
  height: 105px;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 7px;
}

.searchinput{
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  width: 370px;
  background-color: rgba(255, 255, 255, 0);
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
